.setup-page-order {
	text-align: center;
	width: 450px;
	position: relative;
	top: 35px;
	left: 50%;
	margin-left: -225px;
}
.setup-page-order ul {
	padding-left: 0;
}
.setup-page-order ul > li {
	list-style: none;
	display: inline;
	color: #666;
}
.pwstrength-viewport-progress {
	margin-top: 15px;
}
.progress {
	border-radius: 0;
	margin-bottom: 15px;
}
.setup-page-order ul > li.active {
	color: #00acac;
}
@media(min-width: 768px) {
	.dl-horizontal dt {
		text-align: left;
	}
	.dl-horizontal dt, .dl-horizontal dd {
		font-size: 16px;
	}
}
